body{
    background image:background-image:linear-gradient(rgba(44, 41, 41,0.5),rgba(112, 111, 110,0.5)),
        url(music.jpg);
    background-image: -webkit-linear-gradient(rgba(44, 41, 41,0.5),rgba(112, 111, 110,0.5)),
        url(music.jpg);
    background-image: -webkit-linear-gradient(rgba(44, 41, 41,0.5),rgba(112, 111, 110,0.5)),
        url(music.jpg);
    background-image: -moz-linear-gradient(rgba(44, 41, 41,0.5),rgba(112, 111, 110,0.5)),
        url(music.jpg); 
}