/* min and max-width for body so resizing window does not crush page elements together. */

body {
    min-width: 1600px;
    max-width: 100%;
    min-height: 900px;
    background-color: #000000;
    color: white;
}

h3 {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    transition: 0.5s;
    border-radius: 15px;
}

h3:hover {
    transition: 0.5s;
    background-color: #ffcd1f;
}

h3 a {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

h3 a:visited {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

h3 a:hover,
a:active,
a:focus {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

input {
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
}

select {
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
}

button {
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
    background-color: #ffcd1f;
    color: black;
    transition: 0.5s;
}


#header {
    text-align: left;
    background-color: #1b2022;
    width: 100.9%;
}

#warning {
    font-size: 16px;
    color: red;
    padding-left: 15%;
}

#title {
    padding-top: 1%;
    padding-bottom: 1%;
}

#project {
    font-size: 36px;
    padding-top: 1%;
}

#nav {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    border-top: 3px solid white;
    padding-left: 20px;
    background-color: #1b2022;
}

.loginContainer {
    margin-left: 0%;
    margin-right: 50%;
    margin-top: 20%;
    background-color: #1b2022;

}

.vertical-center {
    padding-top: 3%;
    align-items: center;
}

.textContainer {
    padding-left: 15%;
}

.welcomeMessage {
    font-family: "Roboto"sans-serif;
    font-size: 16px;
}

.form-container {
    border: 0px solid;
    padding: 15%;
    margin-top: 5vh;
    -webkit-box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
    -moz-box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
    box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
}

.alignTop {
    margin-top: 60px;

}

.box:hover {
    transform: scale(1.0);
}

.box {
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid;

}

.cardalign {
    margin-top: 10%;
    margin-bottom: 5%;
    border: 1px solid;
}

.cardheading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.rowcard {
    border: 0px solid;
    margin-bottom: 5%;

}

.card {
    border-radius: 15px;
    background-color: #1b2022;
}

.Headerpad {
    border: 0px solid;
    text-align: center;
    background-color: #1b2022;
    border-radius: 15px;
    width: 300px;
    padding-top: 5px;
  }

.card:hover {
    -webkit-box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
    -moz-box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
    box-shadow: -1px 4px 26px 1px rgba(128, 125, 128, 1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightblue;
}

#contain{
    position: relative;
    width: 100%;
    height: 10%;
}

#contain:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}




/* Styling table content */
.tablecontent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(128, 125, 128, 0.15);
  }
/* Styling table head */
.tablecontent thead tr {
    font-size: 1.5em;
    background-color: #1b2022;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  /* padding table content */
.tablecontent th,
.tablecontent td {
    padding: 12px 15px;
  }
  /* Adding border to table body */
.tablecontent tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  /* Assigning background and font to table*/
.tablebody {
    background-color: #263136;
    color: white;
  }
  /* Styling last bottom border */
.tablecontent tbody tr:last-of-type {
    border-bottom: 2px solid #1b2022;
  }
  /* Increasing table content weight and color*/
.tablecontent tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  /* Styling table head*/
.tableheader {
    background-color: #1b2022;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 10px;
  }
  /* Changing hover color*/
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #fcba03;
  }
  