.content0 {
    text-align: center;
    padding-top: 3%;
}
.content1 {
    text-align: center;
    padding-top: 11%;
}

.correct {
    color: #ffcd1f;
}

button:hover {
    transform: scale(1.05);
    background-color: #ffcd1f;
    color: black;
    transition: 0.5s;
}

button {
    transition: 0.5s;
}

#add_question:hover {
    transform: scale(1.05);
    background-color: #ffcd1f;
    color: black;
    transition: 0.5s;
}

#add_question {
    transition: 0.5s;
}

#title {
    padding-left: 20px;
}

#finalise {
    margin-top: 95px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
    width: 125px;
    height: auto;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#finalise a, a:visited, a:hover,
a:active,
a:focus {
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

#finalise:hover {
    transition: 0.5s;
    color: black;
    background-color: #ffcd1f;
    transform: scale(1.05);
}