/* Box element that is h2 for admin page tips. */

h2 {
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    border: 0px solid;
    padding: 25px 30px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    background-color: #1b2022;
    border-radius: 20px;
    transition: 0.5s;
}