<style>body {
  in-width: 1600px;
  max-width: 100%;
  min-height: 900px;
  /* background-image: linear-gradient(rgba(44, 41, 41,0.6),rgba(112, 111, 110,0.6)), url('https://www.ppt-backgrounds.net/uploads/music-notes-graphic-slides.jpg'); */
  background-color: #000000;
  color: white;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  transition: 0.5s;
  border-radius: 15px;
}

h3:hover {
  transition: 0.5s;
  background-color: #ffcd1f;
}

h3 a {
  color: white;
  transition: 0.5s;
  text-decoration: none;
}

h3 a:visited {
  color: white;
  transition: 0.5s;
  text-decoration: none;
}

h3 a:hover,
a:active,
a:focus {
  color: white;
  transition: 0.5s;
  text-decoration: none;
}

.white {
  color: white;
}

input {
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
}

select {
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
}

.tablecontent {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(128, 125, 128, 0.15);
}

.tablecontent thead tr {
  font-size: 1.5em;
  background-color: #1b2022;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.tablecontent th,
.tablecontent td {
  padding: 12px 15px;
}

.tablecontent tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tablebody {
  background-color: #263136;
  color: white;
}

.tablecontent tbody tr:last-of-type {
  border-bottom: 2px solid #1b2022;
}

.tablecontent tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.tableheader {
  background-color: #1b2022;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 10px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #fcba03;
}

.tablecontent tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.game-board {
  display: grid;
  grid-template-columns: 120px 120px 120px grid-template-rows: 120px 120px 120px 20px;
  justify-content: center;
}

</style>
