<html>
	<head>
		<title>Base Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
	</head>
	<body>
		<div>
			<!-- Place holder for header --!>
			Music Site:
	   	<!-- Placeholder for navitation menu --!>	
			{% if current_user.get_id() != 0 %}
				<a href="{{ url_for('index') }}">Home</a>
				<a href="{{ url_for('view_quizzes') }}">Available Quizzes</a>
				<a href="{{ url_for('my_results') }}">My Results</a>
				{% if current_user.is_anonymous %}
					<a href="{{ url_for('login') }}">Login</a>
				{% else %}
					<a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			{% endif %}
			{% if current_user.get_id() == 0 %}
				<a href="{{ url_for('admin_home') }}">Admin Home</a>
				<a href="{{ url_for('manage_users') }}">Manage Users</a>
				<a href="{{ url_for('create_quiz') }}">Create Quiz</a>
				<a href="{{ url_for('manage_quizzes') }}">Manage Quizzes</a>
				<a href="{{ url_for('manage_answers') }}">Manage Answers</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif%}
		{% endwith %}
		{% block content %}{%endblock%}
		<hr>
		<div>
			<!-- Placeholder for footer --!>
		</div>
	</body>
</html>
