{% extends "base.html" %}
{% block content %}
<! –– Applying CSS and javascript ––>
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
	<script type="text/javascript" src="{{ url_for('static',filename='userValidation.js')}}"></script>

	<! –– Applying bootstrap fluid container ––>
		<div class="container-fluid">
				<! –– Applying row and vertical-center class ––>
			<div class="row vertical-center">
				<! –– Dividing row into two (textContainer & loginContainer) ––>
					<div class="col-md-6 col-sm-12 col-xs-12 textContainer">
						<! –– textContainer div ––>
							<div class="row vertical-center">
								<div class="col-md-3 col-sm-4 col-xs-4">
								</div>
							</div>
							<div class="col-md-6 col-sm-4 col-xs-4">
								<div class="welcomeMessage">
									<h1>Welcome</h1>
									<p>Ready to test your music knowledge ?</p>
									<p>Login to start</p>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-4">
								</div>
							</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<! –– loginContainer div ––>
							<div class="loginContainer">
								<form class="form-container" name="login_form" onsubmit="return validateLoginForm()" method="post">
									<h1>Sign In</h1>
									{{ form.hidden_tag() }}
									<div>
										{{ form.username.label }}<br>
										{{ form.username(size = 32) }}<br>
										<p id="username_validate_msg"></p>
										{% for error in form.username.errors %}
										<span style="color: red;">[{{error}}]</span>
										{% endfor %}
									</div>
									<div>
										{{ form.password.label }}<br>
										{{ form.password(size = 32) }}<br>
										<p id="password_validate_msg"></p>
										{% for error in form.password.errors%}
										<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
									</div>
									<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
									<p style="text-align: center" ;>{{ form.submit() }}</p><br>
									<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
								</form>
							</div>
					</div>
			</div>
		</div>
		{% endblock %}
