{% extends "base.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static',filename='userValidation.js')}}"></script>	
	<h1>{{quiz_name}} - {{current_question + 1}}</h1>
		<!-- <iframe width="420" height="315" src ={{question_list[current_question][2]}}></iframe> --!>
		<div id = "hider">
			<iframe id="player"
				width="640" height="360"
				src="https://www.youtube.com/embed/{{question_list[current_question][2]}}?enablejsapi=1"
			></iframe>
		
		</div>
		<button onclick = "myFunction({{question_list[current_question][8]}},{{question_list[current_question][3]}})">Play Song Clip</button>
		<form name = "quiz_question_form" onsubmit="return validateQuizQuestionForm()" method = "post">
		{{ form.hidden_tag() }}
		<p>{{ form.answer.label }} {{ form.answer }}</p>
		<p id = "answer_validate_message"></p>
		{% for error in form.answer.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		{% if current_question != 0%}
			<a href="{{ url_for('start_quiz',quiz_id = quiz_id,current_question = current_question -1)}}">Previous Question</a>
		{% endif %}
		<p>{{ form.submit_answer() }}</p>
		</form>
	
	<script>
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
			origin : window.location.origin,
			});
		}
		function myFunction(start_time,play_time){
			player.setVolume(50)
			player.playVideo()
			player.seekTo(start_time)
			setTimeout(function(){ player.pauseVideo(); }, (play_time * 1000));
		}
		document.getElementById("hider").style.display = "none";
		{% if current_question+1 == question_list|length %}
			document.getElementById("submit_answer").value = "Submit Quiz"
		{% endif %}
	</script>

{% endblock %}
