<!-- 
	Jinja2 expressions by Benjaming Nguyen.
	HTML and CSS by Zak Kazakoff.
 -->

{% extends "base.html" %}

{% block content %}

	<link rel="stylesheet" href="{{ url_for('static', filename='questionpage.css')}}">
	<script src="{{ url_for('static',filename='userValidation.js')}}"></script>
	<script src="{{ url_for('static',filename='question_page.js')}}"></script>
		<!-- Embedded link to YouTube song is hidden so the user can only hear audio. -->
		<div id = "hider" style = "display: none;">
			<iframe id="player"
				width="640" height="360"
				src="https://www.youtube.com/embed/{{question_list[current_question][2]}}?enablejsapi=1"
			></iframe>
		
		</div>
		<!-- Empty bootstrap columns to center page content with a maximum width of a third of the page. -->
		<div class="col-md-4 col-sm-4 col-xs-12">

		</div>
		<div class="col-md-4 col-sm-4 col-xs-12" id="format">
			<div style="padding-left: 20%;">
				<h1 class="Headerpad" style="padding-top: 20px; padding-bottom: 20px;">{{quiz_name}} - Question {{current_question + 1}}</h1>
			</div>
			<br><br>
			<div style="padding-left: 20%;">
				<div class="Headerpad">
					<div style="padding-top: 20px;">Click to Play Audio</div>
						<button onclick = "myFunction({{question_list[current_question][8]}},{{question_list[current_question][3]}})"><img src="https://imgur.com/u56cjdT.png" alt = "Play Song Icon" width="154" height="118"></button>
						<form name = "quiz_question_form" onsubmit="return validateQuizQuestionForm()" method = "post">
							{{ form.hidden_tag() }}
							<br>
							<!-- Drop-down form to select answer. -->
							<p style="padding-bottom: 20px;">{{ form.answer.label }}: <br> {{ form.answer }}</p>
							<p id = "answer_validate_message"></p>
							{% for error in form.answer.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}	
							{% if current_question != 0%}
								<a href="{{ url_for('start_quiz',quiz_id = quiz_id,current_question = current_question -1)}}"><input type="button" value="Previous Question" id="previous"></a>
							{% endif %}
							<div id="next">{{ form.submit_answer() }}</div>
						</form>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
		</div>
	<script>
		//Script to change the next question button to submit answers on final question
		{% if current_question+1 == question_list|length %}
			document.getElementById("submit_answer").value = "Submit Answers"
		{% endif %}
	</script>
{% endblock %}
