<!-- 
	Jinja2 expressions by Benjaming Nguyen.
	HTML and CSS by Zak Kazakoff.
 -->

{% extends "base.html" %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='createquiz.css')}}">
	<script type="text/javascript" src="{{ url_for('static',filename='userValidation.js')}}"></script>
	<h1 id="create">Create Quiz</h1><br><br><br>
	<div class="col-md-2 col-sm-2 col-xs-12">

	</div>
	<!-- Simple single box to encapsulate quiz create form. -->
	<div class="col-md-8 col-sm-8 col-xs-12 createbox">
		<form name = "quiz_form" onsubmit="return validateQuizForm()" method = "post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }}<br>
			{{ form.name(size=64) }}<br>
			<p id = "name_validate_msg"></p>
			{% for error in form.name.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.image.label }}<br>
			{{ form.image(size=64) }}<br>
			<p id = "image_validate_msg"></p>
			{% for error in form.image.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p><br>
		<p>{{ form.submit() }}</p>
		</form>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-12">
		
	</div>
{% endblock %}
