{% extends "base.html" %}

{% block content %}
	<style>
		h2 {
			margin-top: 3%;
			margin-left: 5%;
			width: 50%;
			border: 0px solid;
            padding: 25px 30px;
            -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
			box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
			background-color: #1b2022;
			border-radius: 20px;
			transition: 0.5s;
		}

	</style>
	<h2 style="background-color: #ffcd1f; color: black;">Welcome to the Admin Home Page. <br>
		Below is a brief outline of all the available pages and features available for admins</h2>
	<h2>Manage Users: This page contains list of users and gives admin ability to remove users</h2>
	<h2>Create Quiz: This page allows admins to create a new quiz</h2>
	<h2>Manage Quizzes: This page allows the admin to hide quizzes from users and remove quizzes <br><br>
		Warning : Removing quizzes will also remove the user results,  and questions related to that quiz</h2>
	<h2>View Answers: Gives admin the ability to view user's answers. Sorted by Quiz>User>User's Answers</h2>
	<br><br><br>
{% endblock %}
