<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 Headerpad">
			<h2>List of Quizzes</h2>
		</div>
		<div class="col-md-4">
		</div>
	</div>
<div class="container">
	<div class="row rowcard">
		{% for result in results %}
		<div class="col-md-4 hoveractive">
			<!-- Bootstrap Card -->
			<div class="card cardalign" style="width:300px">
				<img src={{result[2]}} alt="Card One" class="box card-img-top">
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted">{{result[0]}}</h6>
					<h5 class="card-title cardheading">{{result[1]}}</h5>
					{% if result[3] == 0 %}
					<a data-toggle="tooltip" data-placement="bottom" title="Hide Quiz" href="{{ url_for('hide_quiz',quiz_id = result[0])}}" style="padding-left: 20%; font-size: 17px;" class="card-link "><i class="fas fa-eye-slash"></i></a>
					{% endif %}
					{% if result[3] == 1 %}
					<a data-toggle="tooltip" data-placement="bottom" title="Show Quiz" href="{{ url_for('hide_quiz',quiz_id = result[0])}}" style="padding-left: 20%; font-size: 17px;" class="card-link"><i class="fas fa-eye"></i><a>
							{% endif %}
							<a data-toggle="tooltip" data-placement="bottom" title="Delete Quiz" href="{{ url_for('remove_quiz',quiz_id = result[0])}}" style="padding-left: 40%; font-size: 17px" class="card-link"><i class="fas fa-trash"></i></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script>
	$(document).ready(function() {

		$('.hoveractive').hover(
			// trigger when mouse hover
			function() {
				$(this).animate({
					marginTop: "-=1%",
				}, 200);
			},

			// trigger when mouse out
			function() {
				$(this).animate({
					marginTop: "0%"
				}, 200);
			}
		);
	});
</script>

{% endblock %}
