{% extends "base.html" %}

{% block content %}
<!-- Applying bootstrap fluid container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
			</div>
			<!-- Applying tableheader style -->
				<div class="col-md-2 tableheader">
					<h1 style="text-align:center;">List of users</h1>
				</div>
				<div class="col-md-5">
				</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<!-- Applying table-hover style -->
					<table style="width:100%" class="tablecontent table-hover">
						<thead>
							<tr>
								<th>User_ID</th>
								<th>Username</th>
								<th>Email</th>
								<th>Manage</th>
							</tr>
						</thead>
						{% for result in results %}
						<!-- Applying tablebody style -->
							<tbody class="tablebody ">
								<tr>
									<th>{{result[0]}}</th>
									<th>{{result[1]}}</th>
									<th>{{result[2]}}</th>
									<!-- Applying tooltip for icon -->
									<th><a data-toggle="tooltip" data-placement="bottom" title="Delete User" href="{{ url_for('remove_user',user_id = result[0])}}" style="font-size: 17px" class="card-link"><i class="fas fa-trash"></i></a></th>
								</tr>
							</tbody>
							{% endfor %}
					</table>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
{% endblock %}
