{% extends "base.html" %}

{% block content %}
	<h1>List of users</h1>
	<div class="container">
		<table style="width:100%" class = "table table-hover table-borderless table-info">
			<tr>
				<th><button type="button" class ="btn btn-primary">User_ID</button></th>
				<th><button type="button" class ="btn btn-primary">Username</button></th>
				<th><button type="button" class ="btn btn-primary">Email</button></th>
				<th><button type="button" class ="btn btn-primary">Manage</button></th>
			</tr>
			{% for result in results %}
				<tr> 
					<th>{{result[0]}}</th>
					<th>{{result[1]}}</th>
					<th>{{result[2]}}</th>
					<th><a href="{{ url_for('remove_user',user_id = result[0])}}">Remove</a></th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
