{% extends "base.html" %}

{% block content %}
	<h1>List of Quizzes</h1>
	<table style="width:100%">
		<tr>
			<th>Quiz_ID</th>
			<th>Quiz_Name</th>
			<th>Quiz_Image</th>
		</tr>
		{% for result in results %}
			<tr> 
				<th>{{result[0]}}</th>
				<th>{{result[1]}}</th>
				<th><img src={{result[2]}} alt="Image for quiz"></th>
				{% if result[3] == 0 %}
					<th><a href="{{ url_for('hide_quiz',quiz_id = result[0])}}">Hide Quiz</a></th>
				{% endif %}
				{% if result[3] == 1 %}
					<th><a href="{{ url_for('hide_quiz',quiz_id = result[0])}}">Show Quiz<a></th>
				{% endif %}
				<th><a href="{{ url_for('remove_quiz',quiz_id = result[0])}}">Remove Quiz</a></th>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
