{% extends "base.html" %}
{% block content %}
<div id = "contain">
	<h1>{{quiz_info[1]}}</h1>
	<div class = "overlay">
		<h2 class = "text">Final Mark: {{correct_counter}}/{{total}}</h2>
	</div>
</div>
	<img  style= "width:300px" src = {{quiz_info[3]}} alt = "Quiz Image">
	<div class= "container">
		<table style="width:100%" class= "table table-borderless table-hover table-info">
			<tr>
				<th><button type="button" class ="btn btn-primary">Number</button></th>
				<th><button type="button" class ="btn btn-primary">Your Answer</button></th>
				<th><button type="button" class ="btn btn-primary">Correct Answer</button></th>
			</tr>
			{% for result in results %}
				<tr> 
					<th>{{result[0]}}</th>
					<th>{{result[2]}}</th>
					<th>{{result[1]}}</th>
					<th>{{result[3]}}</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
